/*write the css under your section*/
/*Landing page*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display:inline;
}
li{
    float: left;

}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #e52d2d;
  }




/*Home Page*/




/*Login*/




/*Signup*/