@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
body{
    background-color: whitesmoke;
}
.flex-col{
    flex-direction: column;
}
.heading{
    font-family: 'Parisienne', cursive;
    color: #a85ceb;
    font-size: 5rem;
    font-weight: bolder;
}
.img-fluid{
    border-radius: 1rem;
}
.img-fluid:hover{
   transform: scale(1.02);
}
.button{
    height: 2.5rem;
    width: 5rem;
    color:#a85ceb;
    background-color: white;
    border-radius: 0.6rem;
    border: 0.1rem solid #a85ceb;
}
.button a{
    color: inherit;
    text-decoration: none;
}
.button:hover{
    background-color: #a85ceb;
    color: white;
}
