<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title> 
    <link rel="stylesheet" href="../script.js">
    <link rel="stylesheet" href="css/SignupStyle.css">
   </head>
<body>
  <div class="wrapper">
    <h2 class="logo"><u><b>Sign Up</b></u></h2>
    <form action="/register" method="post" class="form">
      <div class="input-box">
        <input type="text" placeholder="Enter your name" required>
      </div>
      <div class="input-box">
        <input type="text" name="username" placeholder="Username" required id="username">
      </div>
      <div class="input-box">
        <input type="password" name="password" placeholder="Enter password" required>
      </div>
      <div class="policy">
        <input type="checkbox">
        <a href=""><h3>I accept all terms & condition</h3></a>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Sign Up" onsubmit="sendData()">
      </div>
      <div class="text">
        <h3>Already have an account? <a href="/login">Login now</a></h3>
      </div>
    </form>
  </div>
</body>
</html>
