
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.news {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
}
.logo{
  font-family: 'Parisienne', cursive;
  text-decoration: none;
  color: #a85ceb;
  font-weight: bold;
  font-size: x-large;
}
.button{
  height: 2.5rem;
  width: 7rem;
  color:#a85ceb;
  background-color: inherit;
  border-radius: 0.6rem;
  border: 0.1rem solid #a85ceb;
}
.button1{
  height: 2.5rem;
  width: 5rem;
  margin-left: 1rem;
  color:#a85ceb;
  background-color: inherit;
  border-radius: 0.6rem;
  border: 0.1rem solid #a85ceb;
}
.button a{
  color: inherit;
  text-decoration: none;
}
.logout{
  margin-left: 10px;
  padding-left: 5px;
  height: 2rem;
  width: 2rem;
}
.button:hover{
  background-color: #a85ceb;
  color: white;
}
.button1:hover{
  background-color: #a85ceb;
  color: white;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

.card__image {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
.page{
  display: flex;
  align-items: center;
  justify-content: center;
}
.page img{
  margin: 1rem;
  height: 2.5rem;
  width:2.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}
a{
  color: inherit;
  text-decoration: none;
}


.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}
.hover:hover{
  transform: rotate(25deg);
}
.hover1:hover{
  transform: scale(1.05);
}
.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  background:#000;
  display:inline-block;
  color:#fff;
  border-radius:3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}

.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  background:#fffffff6;
  color:#000;
  border-top: 3px solid #000;
}