@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
.flex-col{
    flex-direction: column;
}
.heading{
    font-family: 'Parisienne', cursive;
    color: white;
    font-size: 5rem;
    font-weight: bolder;
    animation: head 5s ease-in-out infinite;
}
@keyframes head {
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(0,10px);
    }
    100%{
        transform: translate(0,-0);
    }
    
}
.lead{
    color: white;
}
.img{
    z-index: 3;
}
.img-fluid{
    border-radius: 1rem;
}
.img-fluid:hover{
    z-index: 3;
   transform: scale(1.02);
}
.button{
    z-index: 2;
    height: 2.5rem;
    width: 5rem;
    color:white;
    background-color: inherit;
    border-radius: 0.6rem;
    border: 0.1rem solid white;
}
.button a{
    color: inherit;
    text-decoration: none;
}
.button:hover{
    background-color: whitesmoke;
    color: black;
}

.areabg{
    background: #a85ceb;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
   
}

.circlesbg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circlesbg li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circlesbg li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circlesbg li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circlesbg li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circlesbg li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circlesbg li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circlesbg li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circlesbg li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circlesbg li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circlesbg li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circlesbg li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}